<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>az.gogamid.aerospace</string>
	<key>connections</key>
	<dict>
		<key>5571A44C-D107-43F7-8139-97F8FEE23248</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E3CBCF0-0943-4DA8-8E16-D23C8457DC5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A485572F-8F6B-4C39-BEB5-569BE66A8212</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5571A44C-D107-43F7-8139-97F8FEE23248</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Imron Gamidli</string>
	<key>description</key>
	<string>Aerospace Tiling Window Manager Extension for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>aerospace</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:aerospace_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching commands</string>
				<key>script</key>
				<string>python3 ./main.py $1
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Type Aerospace Command</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A485572F-8F6B-4C39-BEB5-569BE66A8212</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>3E3CBCF0-0943-4DA8-8E16-D23C8457DC5A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>aerospace {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5571A44C-D107-43F7-8139-97F8FEE23248</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-aerospace

&lt;!--toc:start--&gt;

- [alfred-aerospace](#alfred-aerospace)
  - [Usage](#usage)
  - [Contribution is needed](#contribution-is-needed)
  &lt;!--toc:end--&gt;

Aerospace Tiling Window Manager Extension for Alfred

## Usage

![usage](./images/usage.png)

Currently only commands which do not require options are working, such as:

- flatten-workspace-tree
- fullscreen
- macos-native-fullscreen
- reload-config
- enable
- close
- close-all-but-current
  ....

## Contribution is needed

1. Read about [Script Filter](https://www.alfredapp.com/help/workflows/inputs/script-filter/?ref=blog.lorentzca.me)
2. Modify [main.py](./main.py) file for command options</string>
	<key>uidata</key>
	<dict>
		<key>3E3CBCF0-0943-4DA8-8E16-D23C8457DC5A</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>5571A44C-D107-43F7-8139-97F8FEE23248</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>A485572F-8F6B-4C39-BEB5-569BE66A8212</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>asp</string>
				<key>placeholder</key>
				<string>asp</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Trigger keyword for aerospace in Alfred!</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>aerospace_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/gogamid/alfred-aerospace</string>
</dict>
</plist>
